.main-content{
    min-height: 1000px;
    width:90%;
    margin: 20px auto;
    display:grid;
    grid-template-columns: 300px, 700px;
    
}
.left-section{
    grid-column: span 1;
    padding: 1 rem;
    background-color:black;
    color:white;

}
.right-section{
    grid-column: span 1 / span 2;
    padding: 2rem 3rem 2rem 3rem;
    background-color:aqua;
    color:black;
    width:90%;
}
.profile-image{
    padding: 1 rem;
    display: block;
    align-items: center;
    margin: auto;
    width:60%;
    border:5px solid white;
    border-radius: 30%;
    
}
.left-content{
    padding: 1rem;
}
.name{
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.02px;
    padding: 0.8rem;
}
.designation{
    font-size: 1 rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}
.description{
    font-size: 0.75 rem;
    text-align: center;
    padding-bottom: 1 rem;
}
.icon{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column: 2px;
}
.img{
    height:20px;
    width:30px;
    border:2px solid white; 
    border-radius: 30%;
}
.img2{
    height:15px;
    width:20px;
    border:2px solid white; 
    border-radius: 20%;
}
.skills
{
    text-transform: uppercase;
    font-size: 0.75rem;
    padding:1rem 0.5rem;
    

}
skill-name
{
    font-size: 0.65rem;
    font-weight: 0.65rem;
    text-align:left;
    padding-bottom: 0.5rem;
    text-align: start;

}
.mail , .map , .contact
{
    text-align: start;
    margin:1%;
}
.progress-bar
{
    border:1px solid white;
    height:4px;
    
}
.right-main-content
{
    padding: 2rem 3rem 2rem 3rem;
}
.right-title
{
    text-transform: uppercase;
    font-size:  1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;
}

    @media screen and  (max-width:674px) {
        .main-conten{
            grid-template-columns:repeat(1,1fr); 
           
        }
    
    }
    @media screen and  (min-width:674px) {
        .main-content{
            min-height: 1000px;
            width:90%;
            margin: 20px auto;
            display:grid;
            grid-template-columns:300px, 700px;
            
            
        }
    
    }